.App {
  text-align: center;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #FF7F00;
  box-shadow:  0px 15px 20px 0px #111;
}

.loginpage {
  background-color: #2447ED;
  min-height: 100vh;
}

.bg-login {
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 5px 5px 5px #000;
}

.radius2 {
  border-radius: 2rem;
}

.inputBorder {
  border-radius: 2rem;
  &:focus {
    outline: none;
    border: 2px solid #FF7F00;
  }
}

.white {
  color: #fff!important;
}

.redirectLink {
  color:#fff;
  &:hover {
    color: #fff;
  }
}

.postsShadow {
  box-shadow: 10px 10px 10px #000;
}

.mb2 {
  margin-bottom: 2rem;
}

.linkstyle {
  text-decoration: none;
}

.createdAt {
  font-size: 1rem;
}

.titleAuthor {
  background-color:#ffd7d7 ;
  border: 2px solid #353a40;
}

.title h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.author {
  font-size: 1rem;
}

.bg-button {
  background-color: #FF7F00;
  color: #ffffff;
  border-radius: 2rem;
  transition: 500ms;
  
  &:hover {
    box-shadow: 
      inset -6em 0 0 0 #2447ED,
      inset 6em 0 0 0 #2447ED;  
  }
}

.bg-post-button {
  background-color: #FF7F00;
  color: #ffffff;
  border-radius: 2rem;
  transition: 500ms;
  
  &:hover {
    box-shadow: 
      inset -20em 0 0 0 #2447ED,
      inset 20em 0 0 0 #2447ED;  
  }
}

.areaHeight {
  min-height: 150px;
}

